<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <!--<link rel="stylesheet" type="text/css" href="custom.css">-->
    <title>Vue JS - Components</title>
</head>

<body>

<!--use class to access Vue instance-->
<div class="app">
    <!--Use DOM to access component-->
    <my-cmp></my-cmp>
    <hr>
    <my-cmp></my-cmp>
    <hr>
    <person-cmp></person-cmp>

</div>

<script src="https://unpkg.com/vue@2.4.2/dist/vue.js"></script>
<script src="./js/index.js"></script>

</body>

</html>