<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js Events</title>
</head>

<body>
    <div id="app">
        <!-- EXERCISE 1: Use two-way data binding to update the value of a "password" 
        data property. -->
        <input type="password" placeholder="Enter your password" v-model="password">

        <!-- EXERCISE 2: Show the correct paragraph depending on the length of 
        the entered password. -->
        <p v-if="password.length > 8">Awesome! Your password is longer than 8 characters.</p>
        <p v-else-if="password.length > 0">Please enter a longer password.</p>
        <p v-else>Please enter a password.</p>

        <!-- EXERCISE 3: Display the categories as an ordered list with each 
        category's sub-categories as a nested unordered list. -->
        <ol>
            <li v-for="category in categories">
                {{ category.name }}
                <ul>
                    <li v-for="sub in category.sub">{{ sub }}</li>
                </ul>
            </li>
        </ol>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '#app',
            data: {
                password: '',
                categories: [
                    { name: 'JavaScript', sub: ['Vue.js', 'React', 'Angular2'] },
                    { name: 'Databases', sub: ['MySQL', 'PostgreSQL', 'MariaDB'] },
                    { name: 'Operating Systems', sub: ['macOS', 'Linux', 'Windows'] }
                ]
            },
            methods: {

            }
        })
    </script>
</body>

</html>